{% extends "layouts/base.html" %}

{% block title %} Danh sách tàu {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
          <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Bảng chi tiết</span>
            <h3 class="page-title">Danh sách tàu</h3>
          </div>
        </div>
        <!-- End Page Header -->
        <!-- Default Light Table -->
        <div class="row">
          <div class="col">
            <div class="card card-small mb-4">
              <div class="card-header border-bottom">
                <h6 class="m-0">Danh sách tàu</h6>
              </div>
              <div class="card-body p-0 pb-3 text-center">
                <table class="table mb-0">
                  <thead class="bg-light">
                    <tr>
                      <th scope="col" class="border-0">#</th>
                      <th scope="col" class="border-0">Vessel/Barge</th>
                      <th scope="col" class="border-0">Mother vessel</th>
                      <th scope="col" class="border-0">Total time used</th>
                      <th scope="col" class="border-0">Total time allowed</th>
                      <th scope="col" class="border-0">Demurrage (USD)</th>
                      <th scope="col" class="border-0">Công cụ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>THUAN HAI TK2/SL2</td>
                      <td>DUBAI KNIGHT</td>
                      <td>2.83</td>
                      <td>1.58</td>
                      <td>1,887.03</td>
                      <td><a href="#">Chi tiết </a>|<a href="#"> In</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- End Default Light Table -->
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
